.btn_indigo {
  background-color: #5260ab !important;
  transition: all 0.2s ease-in-out !important;
}

.btn_indigo:hover {
  background-color: #38427c !important;
}

.text_blue {
  color: #303a6c !important;
}
.bg_green {
  background-color: #51bfad !important;
}
